* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'K2D', sans-serif;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/landing/icomoon.eot?3wyinz");
  src: url("../fonts/landing/icomoon.eot?3wyinz#iefix") format("embedded-opentype"), url("../fonts/landing/icomoon.ttf?3wyinz") format("truetype"), url("../fonts/landing/icomoon.woff?3wyinz") format("woff"), url("../fonts/landing/icomoon.svg?3wyinz#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-linkedin-square:before {
  content: "\e905";
}

.icon-pinterest-square:before {
  content: "\e900";
}

.icon-youtube-square:before {
  content: "\e901";
}

.icon-twitter-square:before {
  content: "\e902";
}

.icon-facebook-square:before {
  content: "\e903";
}

.icon-arrow-right-circle:before {
  content: "\e904";
}

.icon-arrow_forward:before {
  content: "\e5c8";
}

.icon-perm_phone_msg:before {
  content: "\e8a8";
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-content .section-info {
  width: 40%;
  height: 100vh;
  /*background-color: red;*/
  padding: 25px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main-content .section-info header img {
  width: 150px;
}

.main-content .section-info .content-text .texto {
  margin: 0 0 30px 0;
}

.main-content .section-info .content-text .texto h2 {
  font-size: 2rem;
  margin: 0;
}

.main-content .section-info .content-text .texto p {
  margin: 0;
  line-height: 1.5;
}

.main-content .section-info .content-text .buttons a.btn-principal {
  background-color: #4a90e2;
  color: #fff;
  font-weight: bold;
  padding: 15px 25px;
  font-size: 0.8rem;
  text-transform: uppercase;
  text-decoration: none;
  /*display: block;*/
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
  border-radius: 25px;
  -webkit-box-shadow: 0px 0px 22px 3px #4A90E2;
  box-shadow: 0px 0px 22px 3px #4A90E2;
}

.main-content .section-info .content-text .buttons a.btn-principal:hover {
  -webkit-box-shadow: 0px 0px 22px 3px #1573E1;
  box-shadow: 0px 0px 22px 3px #1573E1;
}

.main-content .section-info .content-text .buttons a.more {
  margin: 0 0 0 50px;
  color: #4a90e2;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem;
  text-decoration: none;
}

.main-content .section-info .contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-content .section-info .contact-info .network a {
  color: #b7bcbf;
  text-decoration: none;
  margin: 0 10px 0 0;
  font-size: 1.2rem;
}

.main-content .section-info .contact-info .network a span {
  -webkit-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.main-content .section-info .contact-info .network a .icon-facebook:hover {
  color: #3b5999;
}

.main-content .section-info .contact-info .network a .icon-twitter:hover {
  color: #55acee;
}

.main-content .section-info .contact-info .network a .icon-youtube:hover {
  color: #cd201f;
}

.main-content .section-info .contact-info .network a .icon-pinterest:hover {
  color: #bd081c;
}

.main-content .section-info .contact-info .network a .icon-linkedin:hover {
  color: #0077B5;
}

.main-content .section-info .contact-info .other-data a {
  color: #b7bcbf;
  text-decoration: none;
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.main-content .section-info .contact-info .other-data a:hover {
  color: #4a90e2;
}

.main-content .section-info .contact-info .other-data select {
  margin: 0 0 0 25px;
  border: none;
  outline: none;
  color: #b7bcbf;
  cursor: pointer;
}

.main-content .section-choose {
  width: 60%;
  height: 100vh;
  background-color: green;
}
